<!DOCTYPE html>
<html>
	<head>

		<title>{{ title }} | {{ subtitle }}</title>

		<meta charset="utf8">
		<meta name="description" content="{{ description }}">		
		<meta name="keywords" content="white collar boxing training,{{ keywords }}">
		<meta name="author" content="Reedia Limited">

		<meta name="dcterms.rightsHolder" content="Copyright © 2015 Reedia Limited. All rights reserved.">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<link type="text/plain" rel="author" href="/humans.txt" />

		<link rel="stylesheet" href="/stylesheets/nlbt.min.css">
		<link rel="stylesheet" href="/stylesheets/print.min.css" type="text/css" media="print">

		<link rel="apple-touch-icon" href="/images/icon/apple-touch-icon-180x180.png"/>		
		<link rel="apple-touch-icon" href="/images/icon/apple-touch-icon-152x152.png"/>
		<link rel="apple-touch-icon" href="/images/icon/apple-touch-icon-144x144.png"/>
		<link rel="apple-touch-icon" href="/images/icon/apple-touch-icon-120x120.png"/>
		<link rel="apple-touch-icon" href="/images/icon/apple-touch-icon-114x114.png"/>
		<link rel="apple-touch-icon" href="/images/icon/apple-touch-icon-72x72.png"/>
		<link rel="apple-touch-icon" href="/images/icon/apple-touch-icon-72x72.png"/>
		<link rel="apple-touch-icon" href="/images/icon/apple-touch-icon-57x57.png"/>

		<link rel="shortcut icon" href="/images/favicon/favicon-192x192.png"/>
		<link rel="shortcut icon" href="/images/favicon/favicon-128x128.png"/>
		<link rel="shortcut icon" href="/images/favicon/favicon-48x48.png"/>
		<link rel="shortcut icon" href="/images/favicon/favicon-32x32.png"/>
		<link rel="shortcut icon" href="/images/favicon/favicon-16x16.png"/>

		<link rel="icon" href="/images/favicon/favicon-192x192.png"/>

		<script src="/javascripts/nlbt.min.js"></script>
	</head>

	<body>
		<div class="container">
			<div class="row">
				<div class="sixteen columns">
					<header role="banner">
						<a href="/" title="North London Boxing Training">
							<picture>
								<source srcset="/images/logo/northlondonboxingtraining.svg" type="image/svg+xml">
									<img src="/images/logo/northlondonboxingtraining.png" width="250" height="250" alt="North London Boxing Training" />
							</picture>					
						</a>
						<h1 class="logo">{{ title }}</h1>
						<nav class="clearfix">
							<div class="section">
								<div id="main-menu">
									<ul class="clearfix">
										<li>
											<a href="/" title="Welcome" class="uppercase">
												Welcome
											</a>
										</li>
										<li>
											<a href="/about.html" title="About Us" class="uppercase">
												About Us
											</a>
										</li>
										<li>
											<a href="/whats-involved.html" title="What's involved" class="uppercase">
												What's involved
											</a>
										</li>										
										<li>
											<a href="/get-in-touch.html" title="Get in touch" class="uppercase">
												Get in touch
											</a>
										</li>
									</ul>
									<a href="" id="pull">
										Menu
									</a>
								</div>
							</div>
						</nav>
						
					</header>
				</div>
			</div>

			<div class="row">
				<div class="sixteen columns">
					<main role="main">
						<div>
							<section>								
								<h2>{{ subtitle }}</h2>
								<a href="tel:+447788272424" class="callbutton"><span><strong>Call Now<br />07788 272424</strong></span></a>								
								
								{{ banner }}																															

								{% block content %}
								<p>Unleash the boxer within by hiring Jake Foley to be your personal trainer. Located in North London, Jake has been training with professional boxers for over 10 years and continues to build on his strength training sessions and lessons. From cardio training to advance fitness courses, Jake offers expert boxing training that has the power to transform his clients. Discover the boxer within, and get in touch with Jake Foley today.</p>
								{% endblock %}
								</section>		
							</div>
						</main>
					</div>
				</div>
				<div class="row">
					<div class="sixteen columns">

						<footer role="contentinfo">
							<hr>
							<div class="section">
								<p>
									Copyright &#169; <a href="http://www.reedia.com/" class="footer">Reedia Limited</a> 2015. All rights reserved.
								</p>
							</div>
						</footer>
					</div>
				</div>
			</div>
		</body>
</html>